<!DOCTYPE html>
<html>

<head>
  <title>Vendors</title>

  <script src="./assets/javascript/vendor/jquery.js"></script>
  <script src="./assets/javascript/vendor/underscore.js"></script>
  <script src="./assets/javascript/vendor/backbone.js"></script>
  <script src="./assets/javascript/vendor/backbone.marionette.js"></script>

  <script src="./assets/javascript/contacts.js"></script>
  <script src="./assets/javascript/main.js"></script>

  <link href="./assets/css/vendor/reset.css" rel="stylesheet">
  <link href="./assets/css/vendor/bootstrap.css" rel="stylesheet">
  <link href="./assets/css/custom.css" rel="stylesheet">
  

  <!--Empty Contacts View -->
  <script type="text/template" id="empty-contacts-view">
    <div class="row">
      <p class="loading"> Loading Vendors... </p>
      <p class="error">
        Oops! It looks like there are no vendors in your contact list. 
      </p>
    </div>
  </script>
  
  <!-- Contacts Layout -->
  <script type="text/template" id="contacts-layout">
    <div>
      <div class="nav header">
      <ul>
        <li>
          <h2 class="container title"> Contact List </h2>
        </li>
      </ul>
      </div>
      <div class="content-region container">
      </div>
    </div>
  </script>

 <!-- Contacts Composite View-->
  <script type="text/template" id="contacts-view">
    <div class="contacts-container row">
    </div>
  </script>

 <!-- Contact Item View-->
  <script type="text/template" id="vendor-template">
    <div class="contact-item l-contact-item col-md-3 col-sm-4 col-xs-6">
    <div class="contact-item__inner-content l-contact-item__inner-content">

        <div class="l-contact-item__img-section ">
          
          <div class="l-contact-item__img-section__profile-pic" style="background-image:url('<%= profile_image %>')">

          </div>
          <img class='contact-item__img-section__vendor-icon l-contact-item__img-section__vendor-icon full-border img-responsive' src='<%= icon %>'>
        </div>
        <div class='contact-item__info l-contact-item__info'>
          <h5 class='contact-item__info-name'><%= name%></h5>
          
          <span class='contact-item__job'>  <%= job %></span>
          <span class='company'>  <%= company_name %> </span>
        </div>

      <div class="hover-content l-hover-content">
                <div class="hover-content__info">

                  <h4><%= name%></h4>
                  
                  <span>  <%= job %></span>
                  
                  <br>
                  
                  <span>  <%= company_name %> </span>
                  
                  <br>

                  <%= phone%>
                  
                  <br>
                    <a href="mailto:<%= email%>"><%= email%> </a>

                </div>
        </div>  
    </div>
    </div>


  </script>

    
</head>


<body>
  <div id="content">

  </div>
</body>
</html>
