body {
	background-color: #e2e2e2;
}

.header {
	background: white;
	border-bottom: 1px solid #CACACA;
}

.contact-item {
	background: #e2e2e2;
	padding: 3px;
	/*margin: 3px;*/
}
.inner-content{
	border: 1px solid #CACACA;
	background: white;
	padding: 1em;
}

.contact-item img {
	border: 1px solid #CACACA;
}

.contact-item .job::after{
	content: ' | ';
}

.img-section{
	position: relative;
	width: 100%;
}
.img-section .profile-pic{
	/*position: absolute;
	top:0;*/
	width: 100%;
}

.img-section .profile-pic img{
	width: 100%;
}

.vendor-icon{
	width: 75px;
	height: 75px;
	position: absolute;
	bottom: -36px;
	left: 25px;
	border-radius: 100px;
}

/* For background photo looking */

.img-section{
	position: relative;
	/* width: 100%; */
	height: 250px;
}

.img-section .profile-pic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background-image: url('https://s3.amazonaws.com/honeybook_cdn/assets_users_production/users/532b267c46ecaccbf1000143/profile_photos/2014-09-17-22-46-03-442.png');
	*/
	background-position-x: center;
	background-position-y: 0;
	background-size: cover;
	background-repeat: no-repeat;
}

.info {
	margin-top: 35px;
	color: #5A5A5A;
	min-height: 5em;
}

.info h5{
	
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 3px;
}

.info span{
	font-size: 12px;
}

.hover-content{
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	background-color: rgba(0,0,0, .75);
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	padding: 1em;

	transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}
.hover-content:hover{
	opacity: 1;
	}

.hover-content .info{
	color: white;
	padding: 0 2em;
}
